services:
  radius-dashboard:
    build: .
    container_name: radius-dashboard
    restart: unless-stopped
    ports:
      - "5000:5000"  # TAMBAHKAN INI/JIKA PAKAI TRAEFIK HAPUS PORT
#    labels:
#      - "traefik.enable=true"
#      - "traefik.http.routers.radius.entrypoints=web"
#      - "traefik.http.routers.radius.rule=Host(`your.domain`)"
#      - "traefik.http.routers.radius.middlewares=https-redirect"
#      - "traefik.http.middlewares.https-redirect.redirectscheme.scheme=https"
#      - "traefik.http.routers.radius-secure.entrypoints=websecure"
#      - "traefik.http.routers.radius-secure.rule=Host(`your.domain`)"
#      - "traefik.http.routers.radius-secure.tls=true"
#      - "traefik.http.routers.radius-secure.service=radius"
#      - "traefik.http.services.radius.loadbalancer.server.port=5000"
    environment:
      - DB_HOST=postgres
      - DB_NAME=radius
      - DB_USER=radius
      - DB_PASSWORD=radiuspass
      - DB_PORT=5432
      - SECRET_KEY=05052020fAk@#
      - REDIS_URL=redis://redis:6379/0
      - FLASK_ENV=production
    volumes:
      - ./app:/app
      - ./uploads:/app/static/uploads
      - ./logs:/app/logs
    networks:
      - radius-net
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:15-alpine
    container_name: freeradius-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: radius
      POSTGRES_USER: radius
      POSTGRES_PASSWORD: radiuspass
      TZ: Asia/Jakarta
      POSTGRES_INITDB_ARGS: "-E UTF8"
    volumes:
      - ./data:/var/lib/postgresql/data
      - ./init.db:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    networks:
      - radius-net

  redis:
    image: redis:7-alpine
    container_name: radius-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - radius-net
    command: redis-server --appendonly yes

  freeradius:
    image: freeradius/freeradius-server:latest
    container_name: freeradius-server
    restart: unless-stopped
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: radius
      DB_USER: radius
      DB_PASS: radiuspass
      TZ: Asia/Jakarta
#    network_mode: host
    volumes:
      - ./clients.conf:/etc/freeradius/clients.conf
      - ./freeradius-config/mods-available/sql:/etc/freeradius/3.0/mods-available/sql
      - ./freeradius-config/mods-enabled/sql:/etc/freeradius/mods-enabled/sql
      - ./freeradius-config/sites-enabled/default:/etc/freeradius/sites-enabled/default
    ports:
      - "1812:1812/udp"
      - "1813:1813/udp"
    command: freeradius -X -l stdout
    depends_on:
      - postgres
    networks:
      - radius-net

networks:
  radius-net:
    driver: bridge

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local
